@use '../abstracts/abstracts' as *;

.container {
    width: 90%;
    margin: 3em auto;
    max-width: 700px;
    @include mq("large") {
        display: flex;
        max-width: 900px;
        margin: 13em auto 3em;
    }
}